<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fresh H&M Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        H&M Account Generator
      </h1>
      <h2 class = "subtitle">
        Generates a new H&M account. Log in with provided credentials to enjoy a 10% off discount code!
      </h2>
      <p>
        Email: {{ account_info.email }}
      </p>
      <p>
        Password: {{ account_info.password }}
      </p>
    </div>
  </section>
  </body>
</html>